<a href="https://colab.research.google.com/github/marcelopaludetto/aulao-datascience/blob/main/tratamentoDosArquivos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [10]:
#dados27 = pd.read_csv('/content/SEED - Semana {i}.csv' for i in range(27)

filenames = [f'/content/SEED - Semana {i}.csv' for i in range(37)]           

filenames = filenames[1:]
filenames

['/content/SEED - Semana 1.csv',
 '/content/SEED - Semana 2.csv',
 '/content/SEED - Semana 3.csv',
 '/content/SEED - Semana 4.csv',
 '/content/SEED - Semana 5.csv',
 '/content/SEED - Semana 6.csv',
 '/content/SEED - Semana 7.csv',
 '/content/SEED - Semana 8.csv',
 '/content/SEED - Semana 9.csv',
 '/content/SEED - Semana 10.csv',
 '/content/SEED - Semana 11.csv',
 '/content/SEED - Semana 12.csv',
 '/content/SEED - Semana 13.csv',
 '/content/SEED - Semana 14.csv',
 '/content/SEED - Semana 15.csv',
 '/content/SEED - Semana 16.csv',
 '/content/SEED - Semana 17.csv',
 '/content/SEED - Semana 18.csv',
 '/content/SEED - Semana 19.csv',
 '/content/SEED - Semana 20.csv',
 '/content/SEED - Semana 21.csv',
 '/content/SEED - Semana 22.csv',
 '/content/SEED - Semana 23.csv',
 '/content/SEED - Semana 24.csv',
 '/content/SEED - Semana 25.csv',
 '/content/SEED - Semana 26.csv',
 '/content/SEED - Semana 27.csv',
 '/content/SEED - Semana 28.csv',
 '/content/SEED - Semana 29.csv',
 '/content/SEED - Semana 30.csv',
 '/content/SEED - Semana 31.csv',
 '/content/SEED - Semana 32.csv',
 '/content/SEED - Semana 33.csv',
 '/content/SEED - Semana 34.csv',
 '/content/SEED - Semana 35.csv',
 '/content/SEED - Semana 36.csv']

In [11]:
dados = [pd.read_csv(i) for i in filenames]

In [12]:
for i in range(36):
    dados[i] = dados[i].drop(columns=['email','cargo','teamId'])

In [13]:
dados[1].head()

         data data de último acesso  ...  atividadesCorretas atividadesGerais
0  2021-04-26            2021-05-05  ...                 139            699.0
1  2021-04-26            2021-05-06  ...                 124            726.0
2  2021-04-26            2021-04-28  ...                 116            402.0
3  2021-04-26            2021-04-26  ...                 105            394.0
4  2021-04-26            2021-05-05  ...                  96            464.0

[5 rows x 7 columns]

In [14]:
for i in range(36):
  filenames = [f'dados{i}.csv' for i in range(36)]   
  dados[i].to_csv(filenames[i], index=False, encoding='UTF-8')

In [ ]:
dados27.to_csv('dados27.csv', index=False, encoding='UTF-8')